.jumbo-wrapper {
    height: 520px;
    width: 100%;
    background-image: url("/img/wot-masthead-dark.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
}
.main-header-wrapper {
    width: 100%;
    display: flex;
    padding-top: 30px;
    padding-left: 30px;
}
.nav-menu {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    float: right;
    font-family: 'Lato', sans-serif;
     color: #F0F0F0;
}
.left-header-container {
    align-items: center;
    width: 50%;
}
li a {
    color: #F0F0F0;
}
.title-container {
    margin-right: 140px;
    margin-left: 140px;
    padding-top: 120px; 
}
.subtext-box {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
#centerlower-text {
    font-size: 18px;
}
.bar1 {
    width: 85px;
    height: 8.5px;
    background: white;
}
.bar2 {
    width: 85px;
    height: 8.5px;
    background: white;
}
li {
    margin: 8px;
    
}
#center-website-description {
    font-weight:normal;
    font-style: normal;

}
.big-workshop {
    font-size: 155px;
    
    
}
.your-digital {

}
h2 {
    color: white;
    font-family: "Oswald";
}
.solutions {
    color:#ff803a;
}
.ideas {
    color: #bdd436;
}
.jumbo-btn{
    color: white;
    font-family: 'Open Sans', sans-serif;
    width: 70%;
    height: 50px;
    text-align: center;
    border-radius:28px;
    background-color: #C8E23A;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.first-non-title-section {
    height: 448px;
    width: 100%;
    background-color: #F0F0F0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line height: 36px !important;
    display: flex;
    justify-content: space-around;
	align-items: center;
    flex-direction: column;
    /*padding-left: 75px;*/
    /*padding-right: 75px;*/
}
.paragraph2 {
    color: #6a787c;
}
.works {
    color: #BDD436;
}
@ media screen and (max-width: 700px) {
    
}